{% load static %}

<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static "img/product/neel.png" %}" width="60" height="60"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "category" "ML" %}">Milk</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="{% url "category" "CR" %}">Curd</a></li>

            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="{% url "category" "LS" %}" >Lassi</a>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="{% url "category" "IC" %}" >Ice-Cream</a>
            </li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contact Us</a>
        </li>

        {% comment %}
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        {% endcomment %}
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          Search
        </button>
      </form>
    </div>

    <ul class="navbar-nav" me-auto mb-2 mb-lg-0>
      <li class="nav-item dropdown mx-2">
        <a
          class="nav-link dropdown-toggle text-white"
          href="#"
          id="profileDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{request.user.username|capfirst}} Anonymous
        </a>
        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
          {% comment %}
          <li>
            <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
          </li>
          <li>
            <a href="{% url 'orders' %}" class="dropdown-item">Order</a>
          </li>
          <li>
            <a href="{% url 'changePwd' %}" class="dropdown-item"
              >Change-Password</a
            >
          </li>
          <li>
            <a href="{% url 'logout' %}" class="dropdown-item">LogOut</a>
          </li>
          {% endcomment %}
        </ul>
      </li>
      <li class="nav-item mx-2">
        <a href="#" class="nav-link text-white"> Cart Item </a>
      </li>

      <li class="nav-item mx-2">
        <a href="#" class="nav-link text-white"> Wishlist Item </a>
      </li>

      <li class="nav-item mx-2">
        <a href="#" class="nav-link text-white"> Login </a>
      </li>

      <li class="nav-item mx-2">
        <a href="#" class="nav-link text-white"> Reg</a>
      </li>
    </ul>
  </div>
</nav>