{% extends "base.html" %}
{% load static %}

{% block title %} About {% endblock title %}

{% block banner_slider %} {% include "partials/_banner.html" %} {% endblock banner_slider %}


{% block content %}

<div class="container mt-3">

    <br>
    <h2 class="text-center">About Us</h2>
    <br>

    <div class="row container">
        <p class="fs-4 text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A ex corrupti cum, illo veritatis dolorum fugiat in
            magni voluptatum soluta reiciendis qui blanditiis voluptatem distinctio pariatur nostrum perferendis dolor!
            Possimus.

            Dolores consectetur aliquid laboriosam perferendis architecto officiis veniam iure maiores cupiditate,
            assumenda
            minima. Vitae officiis mollitia voluptate totam. Temporibus quod nesciunt voluptatem deserunt incidunt sit
            nemo
            vero nisi doloribus sint?
        </p>
    </div>

    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>

    <div class="row container">
        <p class="fs-4 text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem accusamus maxime ea voluptatibus iste
            voluptates, laudantium maiores excepturi nulla earum hic reprehenderit, perferendis quam neque quasi nemo
            repellat dignissimos culpa.

            Eum expedita cum beatae nulla quidem numquam. Neque, error minima vitae et eius quibusdam reprehenderit
            necessitatibus quis quos velit? Numquam excepturi porro quod magni ut delectus id, illo incidunt! Corporis.
        </p>
    </div>

</div>
<br><br>
{% endblock content %}